{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Health Assist</title>
</head>

<body>
<div class="main">
    <h1>Health Assist</h1>
    <h3>Doctor Log In</h3>
</div>

<div>
    {{ message }}
</div>

<div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div>
            <div>
                <label for="email">Email: </label>
                <input id="email" type="text" name="email_address" value={{ email_address }}>
            </div>

            <div>
                <label for="password">Password: </label>
                <input id="password" type="password" name="password" value={{ password }}>
            </div>

            <input type="submit" value="Log In">
        </div>
    </form>
</div>
</body>

</html>