{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Health Assist</title>
</head>

<body>
<div class="main">
    <h1>Health Assist</h1>
    <h3>Sign Up</h3>
</div>

<div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div>
            <div>
                <label for="name">Name: </label>
                <input id="name" type="text" name="name" value="{{ signup_form.name }}">
            </div>

            <div>
                <label for="email">Email: </label>
                <input id="email" type="text" name="email_address" value="{{ signup_form.email_address }}">
            </div>

            <div>
                <label for="password">Password: </label>
                <input id="password" type="password" name="password" value="{{ signup_form.password }}">
            </div>

            <div>
                <label for="dateOfBirth">Date of Birth: </label>
                <input id="dateOfBirth" type="date" name="dateOfBirth" value="{{ signup_form.dateOfBirth|date:"Y-m-d"}}">
            </div>

            <input type="submit" value="Sign Up">

        </div>
    </form>
</div>
</body>

</html>