li {
  color: white;
}
.patient1 {
    left :350px;
    background-color:#18d35e;
    height: 200px;
    width: 200px;
    border-radius: 5px;
    position:fixed;

}
.patient2 {
    left :570px;
    background-color:#18d36e;
    height: 200px;
    width: 200px;
    border-radius: 5px;
    position:fixed;

}
.patient3 {
    left :790px;
    background-color:#18d37e;
    height: 200px;
    width: 200px;
    border-radius: 5px;
    position:fixed;

}

.patient4 {
    left :1010px;
    background-color:#18d38e;
    height: 200px;
    width: 200px;
    border-radius: 5px;
    position:fixed;

}

.patient5 {
    left :550px;
    top : 400px;
    background-color:#18d31e;
    height: 200px;
    width: 200px;
    border-radius: 5px;
    position:fixed;

}

.patient6 {
    left :770px;
    top : 400px;
    background-color:#18d30e;
    height: 200px;
    width: 200px;
    border-radius: 5px;
    position:fixed;

}
