input[type=text] {
    left : 400px;
    width: 130px;
    position: relative;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../img/search.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

.container {
  position: relative;
  top : 50px;
  width: 1000px;
  right :160px;
}

.panel-body {
  color: #18d36e;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0 0 20px 0;
  padding: 0;
}
