<!DOCTYPE html>
<html lang ="en">
<head>
    <title>Select your doctor</title>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Mushrooms', 3],
          ['Onions', 1],
          ['Olives', 1],
          ['Zucchini', 1],
          ['Pepperoni', 2]
        ]);

        // Set chart options
        var options = {'title':'How Much Pizza I Ate Last Night',
                       'width':400,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>

<body>
    <p>Here is the list of doctors
    <ul>
    {% for doctor in doctors_in_db  %}
        <li><b>Name</b>: {{doctor.0}} &nbsp;&nbsp;&nbsp;&nbsp; <b>Specialization</b>: {{doctor.1}}</li>
    {% endfor %}
    </ul>
    <p> Chose your doctor's specialisation
    <form method ='GET' action = '/consultation/select_doctor'>
        <input type ='text' name ='req_specialization_by_user' placeholder='Search'>
    </form>
    <p> Click here to chat with them
    <ul>
    {% for item in ids %}

        <li><a href="http://127.0.0.1:8000/consultation/{{item.0}}">{{item.1}}</a></li>

    {% endfor %}
    </ul>


</body>
</html>
