<!DOCTYPE html>
<html lang ="en">
<head>
    <title>Google Fit Dashboard</title>
</head>
<div>
<body>
    <p>Upload your google fit Data. Extract your google fit data using this <a href ="https://googlesystem.blogspot.com/2016/02/export-google-fit-data.html" >link</a>.Go to the Daily Aggregations folder and upload <b>Daily_Summaries.csv</b> .
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <div>
                <
                <div>
                    <label for="health_data_file">Upload your google fit Data </label>
                    <input id="health_data_file" type="file" name="health_data_file" value="{{upload_form.health_data_file}}">
                </div>

                <input type="submit" value="Submit">
            </div>
    </form>

</body>
</div>
<div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

</html>
