<!DOCTYPE html>
<html lang="en">
<head>
  <title>Health And Fitness Management</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/static/css/patientDashboard.css" rel="stylesheet">
    <link href="/static/css/bookAppointment.css" rel="stylesheet">
  

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">App Name</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Welcome ABC!</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center" style="height:100%">    
  <div class="row content" style="height:100%" >
   <div class="col-sm-2 sidenav"style="height:100% ; background-color:black; ">
      <p ><a href="patientDashboard.html">Notifications</a></p>
      <p class="active"><a >Book an Appointment</a></p>
      <p><a href="updatePatientInformation.html">Update Profile</a></p>
       <p><a href="#">Sign Out</a></p>
    </div>
    
    <div class="col-sm-10 "> 
    			<div class="row">
    				<div class="col-sm-12">
    				<br>
    		<div id="imaginary_container"> 
                    <form action="" class="form-inline">
							<input type="text" class="form-control" name="query" id="searchdoctor"  placeholder="Search for Doctor" >
							<button type="submit" class="btn btn-primary mb-2">Submit</button>
					</form>
            </div>
    				
    				</div>
    			</div>
    			<!-- nanananan -->
    			
    			<!-- <div class="row">
    				<div class="col-sm-6 col-sm-offset-3">
    					<br>
    						<div class="form-group">
  								<label for="sel1">Type of Doctor:</label>
  									<select class="form-control" id="sel1">
    									<option>General</option>
 									   <option>Paediatric</option>
    									<option>Cardio</option>
    									<option>Neuro</option>
    									<option> Ortho </option>
 									 </select>
							</div>
							<div class="form-group">
								<button type="submit"   id="search_button" onclick="searchDoctorByType()" > Search </button>
							</div>
						</div>
				</div> -->
    			<!-- heheheeh -->
    			
    			<!-- starting of display docs -->
    		    <div class="row justify-content-center">
					<div class="col-sm-10 col-sm-offset-2">
					<div id="doctors_tab">
				{%if doctors%}
				<div id="accordion">
					{% for doctor in doctors %}		
					<div class="row">
						<div class="col-md-3 text-center">   
							<div class="panel panel-success panel-pricing"> 
								<div class="panel-heading"> 
								   <a href="#collapse1" data-toggle="collapse" data-parent="#accordion" style="text-decoration: none">
									<h4>{{doctor.name}}</h4>  </a>
								</div>
								<div id="collapse1" class="panel-collapse collapse">
									<ul class="list-group text-center">  
										<li class="list-group-item">{{doctor.specialization}}</li> 
										<li class="list-group-item">{{doctor.experience}} years of experience </li>
										<!-- <li class="list-group-item"> Available</li> -->
									</ul>
									<div class="panel-footer"> 
										<a class="btn btn-lg btn-block btn-success" href="#">Chat</a> 
									</div>
								</div>
							</div>
						</div>
					</div>
					{%endfor%}
					</div>
					{%else%}
						<br>
						<br>
						<div>No doctors match your search</div>
					{%endif%}
				</div>
				</div>
						
			</div>
   <!-- doctor list is displayed here -->
    		
    	</div>
    	</div>
    			
    		</div>
    			<!-- end of display docs --> 
    </div>
    
 
  </div>
</div>
<footer class="container-fluid text-center">
  <h4 text-align="center">Contact Us</h4><br>
  <B> Address :</B> <adress> A108 Adam Street, NY 535022, USA</address>&nbsp&nbsp&nbsp
  <B> Phone Number:</B> <a href="tel:+155895548855"  style="color: white">+1 5589 55488 55</a>
  &nbsp&nbsp&nbsp 
  <B> E-mail ID: </B> <a href="mailto:info@example.com" style="color: white">info@example.com</a
  
  
  
</footer> 

</body>

<script>

	//doctors_list={"general":[["James Martin","12 years of experience","Available"],["Andrew Broscheire","3 years of experience","Available",]], "ortho":[["Louis Barter","8 years of experience","Available"]]} 
	function searchDoctorByName() {
	 
	doctors_list = [["James Martin","General","12 years of experience","Available"],
								["Andrew Broscheire","General","3 years of experience","Available"],
								["Louis Barter","Ortho","8 years of experience","Available"]]
		var doctorName = document.getElementById("searchdoctor").value;
		alert(doctorName);
		for ( var i = 0;i<doctors_list.length;i++){
				if(doctors_list[i][0] == doctorName) {
				
					var column = document.createElement("div");
					column.setAttribute("class","col-md-3");
				//	column.className += " text-center";
					//column.setAttribute("class","text-center");
					
					var panel = document.createElement("div");
					panel.setAttribute("class","panel panel-success ");
				
				//	panel.setAttribute("class","panel-success");
				//	panel.setAttribute("class","panel-pricing");
					
					column.appendChild(panel);
					
					var panel_heading = document.createElement("div");
					panel_heading.setAttribute("class","panel-heading");
					
					panel.appendChild(panel_heading);
					
					
					var h4= document.createElement("h4");
					var doctor = document.createTextNode(doctors_list[i][0]);
					h4.appendChild(doctor);
					
					panel_heading.appendChild(h4);
					
					var ul = document.createElement("ul");
					ul.setAttribute("class","list-group text-center");
				//ul.setAttribute("class","text-center");
					
					panel.appendChild(ul);
					
					var li_doctype = document.createElement("li");
					li_doctype.setAttribute("class","list-group-item");
					var doctor_type = document.createTextNode(doctors_list[i][1]);
					
					li_doctype.appendChild(doctor_type);
					
				//	ul.appendChild(li_doctype);
					
					var li_docexperience = document.createElement("li");
					li_docexperience.setAttribute("class","list-group-item");
					var doctor_experience = document.createTextNode(doctors_list[i][2]);
					li_docexperience.appendChild(doctor_experience);
					
				//	ul.appendChild(li_docexperience);
					
					var li_docavailability = document.createElement("li");
					li_docavailability.setAttribute("class","list-group-item");
					var doctor_availability = document.createTextNode(doctors_list[i][3]);
					li_docavailability.appendChild(doctor_availability);
					
			//		ul.appendChild(li_docavailability);
				ul.appendChild(li_doctype);
				ul.appendChild(li_docexperience);
				ul.appendChild(li_docavailability);
					
					var panel_footer = document.createElement("div");
					panel_footer.setAttribute("class","panel-footer");
					
					panel.appendChild(panel_footer);
					
					var a = document.createElement("a");
					a.setAttribute("class","btn btn-lg btn-block btn-success");
					//a.setAttribute("class","btn-lg");
					//a.setAttribute("class","btn-block");
					//a.setAttribute("class","btn-success");
					a.setAttribute("href","'#'");
					var bookapt = document.createTextNode("Book Appointment");
					a.appendChild(bookapt);
					
					panel_footer.appendChild(a);
					
					
				
					var doctors_tab = document.getElementById("doctors_tab");
					while(doctors_tab.firstChild){
						doctors_tab.removeChild(doctors_tab.firstChild);
					}
					doctors_tab.appendChild(column);
					
					return;
				}
		} 
		
		var doctors_tab = document.getElementById("doctors_tab");
					while(doctors_tab.firstChild){
						doctors_tab.removeChild(doctors_tab.firstChild);
					}
		var errorNote = document.createTextNode("Sorry! No Doctor Found by the name Dr."+doctorName);
		doctors_tab.appendChild(errorNote);
		
	}


	function searchDoctorByType() {
	   
	   doctors_list = [["Tony Stark","General","12 years of experience","Available"],
								["Bruce Banner","General","3 years of experience","Available"],
								["Thanos","Ortho","8 years of experience","Available"],["Bruce Wayne","Ortho","3 years of experience","Unavailable"]];
									var doctors_tab = document.getElementById("doctors_tab");
					while(doctors_tab.firstChild){
						doctors_tab.removeChild(doctors_tab.firstChild);
					}
								
		type_of_doctor = document.getElementById("sel1").value;
		var count=0;
		for( var i=0; i<doctors_list.length ; i++) {
				if(doctors_list[i][1] == type_of_doctor) {
				
				var column = document.createElement("div");
					column.setAttribute("class","col-md-3 text-center");
				//	column.className += " text-center";
					//column.setAttribute("class","text-center");
					
					var panel = document.createElement("div");
					panel.setAttribute("class","panel panel-success ");
				
				//	panel.setAttribute("class","panel-success");
				//	panel.setAttribute("class","panel-pricing");
					
					column.appendChild(panel);
					
					var panel_heading = document.createElement("div");
					panel_heading.setAttribute("class","panel-heading");
					
					panel.appendChild(panel_heading);
					
					
					var h4= document.createElement("h4");
					var doctor = document.createTextNode(doctors_list[i][0]);
					h4.appendChild(doctor);
					
					panel_heading.appendChild(h4);
					
					var ul = document.createElement("ul");
					ul.setAttribute("class","list-group text-center");
				//ul.setAttribute("class","text-center");
					
					panel.appendChild(ul);
					
					var li_doctype = document.createElement("li");
					li_doctype.setAttribute("class","list-group-item");
					var doctor_type = document.createTextNode(doctors_list[i][1]);
					
					li_doctype.appendChild(doctor_type);
					
				//	ul.appendChild(li_doctype);
					
					var li_docexperience = document.createElement("li");
					li_docexperience.setAttribute("class","list-group-item");
					var doctor_experience = document.createTextNode(doctors_list[i][2]);
					li_docexperience.appendChild(doctor_experience);
					
				//	ul.appendChild(li_docexperience);
					
					var li_docavailability = document.createElement("li");
					li_docavailability.setAttribute("class","list-group-item");
					var doctor_availability = document.createTextNode(doctors_list[i][3]);
					li_docavailability.appendChild(doctor_availability);
					
			//		ul.appendChild(li_docavailability);
				ul.appendChild(li_doctype);
				ul.appendChild(li_docexperience);
				ul.appendChild(li_docavailability);
					
					var panel_footer = document.createElement("div");
					panel_footer.setAttribute("class","panel-footer");
					
					panel.appendChild(panel_footer);
					
					var a = document.createElement("a");
					a.setAttribute("class","btn btn-lg btn-block btn-success");
					//a.setAttribute("class","btn-lg");
					//a.setAttribute("class","btn-block");
					//a.setAttribute("class","btn-success");
					a.setAttribute("href","'#'");
					var bookapt = document.createTextNode("Book Appointment");
					a.appendChild(bookapt);
					if(doctors_list[i][3] == "Available") {
					
					panel_footer.appendChild(a);
					
				}
				else {
					var errtext = document.createTextNode("Sorry! Doctor not Available");
					panel_footer.appendChild(errtext);
				}
				
					doctors_tab.appendChild(column);
					
					
				}
		}
	}
	
</script>
</html>

