<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Health And Fitness Management</title>
  <meta content="" name="keywords">
  <meta content="" name="description">


  <!-- Favicons -->
  <link href="/static/img/favicon.png" rel="icon">
  <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <!-- Libraries CSS Files -->
  <link href="/static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/static/css/style.css" rel="stylesheet">
  <link href="/static/css/dashboard.css" rel="stylesheet">
  <link href="/static/css/current_consultations.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
  <script type="text/javascript" src="/static/js/dashboard.js"></script>
</head>
<body>
    <div class = "main">
      <div class="container">
		     <div class="row text-center">
            {% if consultations.0 %}
             <div class="col">
               <div class="patient1">
                   <p id ="Patient1_Name"> Patient :  {{consultations.0.user}}  <br>
                    Doctor : {{consultations.0.doctor}}
                  </p>
                   <p id ="Patient1_Info"> Info : </p>
                   <p id ="ChatNowButton1"> 
                      {% if is_user %}
                      <a href="http://localhost:8000/consultations/{{consultations.0.doctor.email_address}}/" class="btn btn-primary">Go to chat</a>
                      {%else%}
                      <a href="http://localhost:8000/consultations/{{consultations.0.user.email_address}}/" class="btn btn-primary">Go to Chat</a>
                      {%endif%}
                  </p>
              </div>
            </div>
            {% endif %}
            {% if consultations.1 %}
            <div class="col">
              <div class="patient2">
                  <p id ="Patient2_Name"> Patient :  {{consultations.1.user}}  <br>
                    Doctor : {{consultations.1.doctor}}
                  </p>
                <p id ="Patient2_Info"> Info : </p>
                <p id ="ChatNowButton2"> 
                    {% if is_user %}
                    <a href="http://localhost:8000/consultations/{{consultations.1.doctor.email_address}}/" class="btn btn-primary">Go to chat</a>
                    {%else%}
                    <a href="http://localhost:8000/consultations/{{consultations.1.user.email_address}}/" class="btn btn-primary">Go to Chat</a>
                    {%endif%}
                </p>
             </div>
           </div>
           {%endif%}
           {% if consultations.2%}
           <div class="col">
             <div class="patient3">
                <p id ="Patient3_Name"> Patient :  {{consultations.2.user}}  <br>
                  Doctor : {{consultations.2.doctor}}
                </p>
               <p id ="Patient3_Info"> Info : </p>
               <p id ="ChatNowButton3"> 
                  {% if is_user %}
                  <a href="http://localhost:8000/consultations/{{consultations.2.doctor.email_address}}/" class="btn btn-primary">Go to chat</a>
                  {%else%}
                  <a href="http://localhost:8000/consultations/{{consultations.2.user.email_address}}/" class="btn btn-primary">Go to Chat</a>
                  {%endif%}
               </p>
            </div>
          </div>
          {%endif%}
          {%if consultations.3%}
          <div class="col">
            <div class="patient4">
                <p id ="Patient4_Name"> Patient :  {{consultations.4.user}}  <br>
                  Doctor : {{consultations.4.doctor}}
                </p>
              <p id ="Patient4_Info"> Info : </p>
              <p id ="ChatNowButton4"> 
                  {% if is_user %}
                  <a href="http://localhost:8000/consultations/{{consultations.3.doctor.email_address}}/" class="btn btn-primary">Go to chat</a>
                  {%else%}
                  <a href="http://localhost:8000/consultations/{{consultations.3.user.email_address}}/" class="btn btn-primary">Go to Chat</a>
                  {%endif%}
              </p>
           </div>
         </div>
         {%endif%}
         {%if consultations.4%}
         <div class="col">
           <div class="patient5">
              <p id ="Patient5_Name"> Patient :  {{consultations.4.user}}  <br>
                Doctor : {{consultations.4.doctor}}
              </p>
             <p id ="Patient5_Info"> Info : </p>
             <p id ="ChatNowButton5"> 
                {% if is_user %}
                <a href="http://localhost:8000/consultations/{{consultations.4.doctor.email_address}}/" class="btn btn-primary">Go to chat</a>
                {%else%}
                <a href="http://localhost:8000/consultations/{{consultations.4.user.email_address}}/" class="btn btn-primary">Go to Chat</a>
                {%endif%}
             </p>
          </div>
           </div>
           {%endif%}
    </div>
</div>
</div>
    </body>
    </html>
