<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Health And Fitness Management</title>
  <meta content="" name="keywords">
  <meta content="" name="description">


  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">
  <link href="css/dashboard.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
  <script type="text/javascript" src="js/dashboard.js"></script>
  <script type="text/javascript" src="js/piechart.js"></script>
  <script type="text/javascript" src="js/linearchart.js"></script>
</head>
<body>
  <div class = "header_content">
    <header id="header">
      <div class="container-fluid">
        <div id="logo" class="pull-left">
          <h1><a href="#intro" class="scrollto">AppName</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
        </div>
        <nav id="nav-menu-container" >
          <ul class="nav-menu">
            <li>Welcome Jim!</li>
            <li id="profile"><img src="img/dashboard_profile.jpg"  alt="" title="" /></li>
          </ul>
        </nav><!-- #nav-menu-container -->
      </div>
    </header><!-- #header -->
  </div>
    <div class = "sidenav">
      <a class ="active">Statistics</a>
      <a href="current_consultations.html">Current Consulations</a>
      <a href="previous_consultations.html">Previous Consulations</a>
      <a href="update_schedule.html">Update Schedule</a>
      <a href="feedback.html">View Feedback</a>
      <a href="#contact">Update Profile</a>
      <a href="index.html">SignOut</a>
    </div>
    <div class = "main">
      <div class="container">
		     <div class="row text-center">
             <div class="col-xs-4 col-md-4 col-sm-4">
               <div class="counter1">
                <i class="fa fa-users fa-2x"></i>
                <h2 class="timer count-title count-number" data-to="30" data-speed="1500"></h2>
                <p class="count-text ">Total Appointments</p>
              </div>
            </div>
            <div class="col-xs-4 col-md-4 col-sm-4">
              <div class="counter2">
                <i class="fa fa-medkit fa-2x"></i>
                <h2 class="timer count-title count-number" data-to="5" data-speed="1500"></h2>
                <p class="count-text ">Diagnoses Done</p>
              </div>
             </div>
             <div class="col-xs-4 col-md-4 col-sm-4">
               <div class="counter3">
                 <i class="fa fa-rupee fa-2x"></i>
                 <h2 class="timer count-title count-number" data-to="1000" data-speed="1500"></h2>
                 <p class="count-text ">Total Amount</p>
               </div>
             </div>
             <div class="col-xs-4 col-md-4 col-sm-4">
               <div class="counter4">
                 <i class="fa fa-star fa-2x"></i>
                 <h2 class="timer count-title count-number" data-to="4.2" data-speed="1500"></h2>
                 <p class="count-text ">Average Rating</p>
               </div>
             </div>
          </div>
          <div class="col-xs-4 col-md-4 col-sm-4" id="chart_div"></div>
       </div>
    </div>

</body>
</html>
