<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Health And Fitness Management</title>
        <meta content="" name="keywords">
        <meta content="" name="description">
        <!-- Favicons -->
        <link href="/static/img/favicon.png" rel="icon">
        <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

        <!-- Bootstrap CSS File -->
        <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <!-- Libraries CSS Files -->
        <link href="/static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/static/lib/animate/animate.min.css" rel="stylesheet">
        <link href="/static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
        <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="/static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

        <!-- Main Stylesheet File -->
        <link href="/static/css/style.css" rel="stylesheet">
        
        
        

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
        <script type="text/javascript" src="js/dashboard.js"></script>
</head>

<body>
    
    <h3> Feedback from patients</h3>

       


    <div class="container">
  <div class="panel-group" id="accordion">
    {% for review in reviews %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter}}">
          <div class="row">
            <div class="col-md-3">
                <p>Patient : {{review.consultation.user.name}}</p>
            </div>
            <div class="col-md-2">
              <p>Overall rating : </p>
          </div>
            <div class="col-md-6 text-warning">
              {% with ''|center:review.overall_rating as range %}
                {% for star in range %}
                  <i class="fa fa-star"></i>
                {% endfor %}
              {% endwith %}
            </div>
          </div>
        </a>
      </h4>
    </div>
    <div id="collapse{{forloop.counter}}" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
              <p>Quickness</p>
          </div>
          <div class="col-md-6 text-warning">
            {% with ''|center:review.quickness as range %}
              {% for star in range %}
                <i class="fa fa-star"></i>
              {% endfor %}
            {% endwith %}
          </div>
        </div>
      <br>
      <div class="row">
        <div class="col-md-6">
            <p>Treatment</p>
        </div>
        <div class="col-md-6 text-warning">
          {% with ''|center:review.treatment as range %}
            {% for star in range %}
              <i class="fa fa-star"></i>
            {% endfor %}
          {% endwith %}
        </div>
      </div>

      <b>Feedback : </b>{{review.feedback}}<br>
      
    </div>
    </div>
    
  </div>
  {% endfor %}
  {% if reviews %}
  <div class="pagination">
    <span class="step-links">
        {% if reviews.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ reviews.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ reviews.number }} of {{ reviews.paginator.num_pages }}.
        </span>

        {% if reviews.has_next %}
            <a href="?page={{ reviews.next_page_number }}">next</a>
            <a href="?page={{ reviews.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>
  {%else%}
  <p>You have no feedback yet</p>
  {%endif%}
</div>
    
</div>
</body>