{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Health Assist</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>
    <body>
        {% if doctor %}
        <p>Welcome {{doctor.name}} !</p>
            <div>
                {% if not doctor.verified %}
                <p>Looks like you still haven't been verified.<br> Note that you cannot start consultations if you are not verified.It takes a minimum of 1-2 days for verification. <br>
                    Regardless of whether your verification falied or succeeded , you will receive a mail stating the same. If you do not get any such mail and are still not able to access the consultations page, please get back to us.
    
                </p>

                <div class="container-fluid padding">
                        <a href="{% url 'doctor_core:view_profile' %}" class="btn btn-info padding" role="button">View Profile</a>
                </div>
                {%endif%}
            </div>
        {% endif %}
        <div>
            {% if profile %}
                <p>Name : {{profile.user.name}}</p>
                <p>Bio : {{profile.bio}}</p>
                {% if profile.image %}
                <br>
                <p>Image : </p> <br>
                <img src="{{profile.image.url}}" alt="some-image" class='img-responsive' height ='250' width='250'>
                {%endif%}

                <div class="container-fluid padding">
                        <a href="{% url 'doctor_core:edit_profile' %}" class="btn btn-info padding" role="button">Edit Profile</a>
                </div>
            {% endif %}
        </div>
        
        
    </body>
</html>